.review {
  border: 1px solid #0003;
  padding: 1rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__top-line {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
}

.review__text {
  margin-top: 1rem;
}