.game-list-wrapper {
  padding: 2rem;
}

.game-list {
  list-style-type: none;
}

.game-list__item {
  padding: 0.3rem 0;
}

.game-list__item-title {
  font-size: 1.25rem;
}

.game-list__item-rating {
  font-style: italic;
}

.game-list__search {
  display: block;
  width: 50%;
  margin: 0 auto;
}
