.game-form {
  padding: 2rem;
  font-size: 1.1rem;
}

.game-form label::after {
  content: ':';
}

.game-form fieldset {
  width: 100%;
  display: flex;
}

.game-form fieldset > *:first-child {
  flex: 1;
}

.game-form fieldset > *:last-child {
  flex: 3;
}

.game-form input,
.game-form textarea,
.game-form select {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.game-form button {
  display: block;
  margin-left: auto;
  font-size: 1.5rem;
}