.game-image-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-image-form__header {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.game-image-form__file {
  font-size: 1.5rem;
}